<div class="flex h-[calc(100%-64px)]">
  <div
    class="verif-document-left-menu h-full bg-gray-600 w-[300px] flex flex-col items-center"
  >
    <h2 class="text-slate-100">Administration</h2>
    <div
      class="bg-indigo-500 w-[80%] flex py-4 px-2 justify-around text-base cursor-pointer"
      routerLink="/admin/license/to-validate"
    >
      <span>Verification document</span>
      <fa-icon [icon]="faIdCard" id="fa-id-card-icon"></fa-icon>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
