 <div class="flex flex-col items-center justify-center w-screen h-screen aaaa">
   <form [formGroup]="subForm" (ngSubmit)="submit()" class="justify-center p-5 rounded-md shadow-md flex flex-col items-center gap-6 w-96">

        <h1 class="text-3xl" >Créer un abonnement</h1>
        <div *ngIf="is_driver">
          <mat-checkbox formControlName="is_carpooling">Créer un covoiturage régulier</mat-checkbox>
        </div>
        <mat-form-field subscriptSizing="dynamic" class="w-full">
            <mat-label>Titre de l'abonnement</mat-label>
            <input matInput formControlName="label" placeholder="Aller tous les lundi et mardi du S1">
            <mat-error>Veuillez renseigner un titre pour votre abonnement</mat-error>
        </mat-form-field>

        <mat-form-field subscriptSizing="dynamic" class="w-full	">
            <mat-label>Adresse de départ</mat-label>
            <input  matInput required formControlName="starting_point" [matAutocomplete]="starting_pointAutocomplete" id="starting_point_id">
            <fa-icon [icon]="faLocationdot" matSuffix class="pr-3"></fa-icon>
            <mat-error>Veuillez renseigner une adresse valide.</mat-error>

            <mat-autocomplete autoActiveFirstOption #starting_pointAutocomplete="matAutocomplete" (optionSelected)="starting_pointOptionSelectedHandler($event)">
                <mat-option *ngFor="let address of obsDisplayedAddressesStart | async" [value]="address">
                  {{ address }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field subscriptSizing="dynamic" class="w-full">
            <mat-label>Adresse de destination</mat-label>
            <input matInput required formControlName="destination" [matAutocomplete]="destinationAutocomplete" id="destination_id">
            <fa-icon [icon]="faLocationdot" matSuffix class="pr-3"></fa-icon>
            <mat-error>Veuillez renseigner une adresse valide.</mat-error>

            <mat-autocomplete autoActiveFirstOption #destinationAutocomplete="matAutocomplete" (optionSelected)="destinationOptionSelectedHandler($event)">
                <mat-option *ngFor="let address of obsDisplayedAddressesDest | async" [value]="address">
                  {{ address }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field subscriptSizing="dynamic" class="w-full">
            <mat-label>Durée de l'abonnement</mat-label>
            <mat-date-range-input [rangePicker]="picker" [dateFilter]="dateFilter">
                <input matStartDate required formControlName="date_start" id="date_start_id">
                <input matEndDate required formControlName="date_end" id="date_end_id">
            </mat-date-range-input>

            <mat-date-range-picker #picker></mat-date-range-picker>

            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-error *ngIf="subForm.controls.date_start.errors?.['required']">Veuillez renseigner une date de début.</mat-error>
            <mat-error *ngIf="subForm.controls.date_end.errors?.['required']">Veuillez renseigner une date de fin.</mat-error>
        </mat-form-field>

        <mat-form-field subscriptSizing="dynamic" class="w-full">
            <mat-label>Jour(s)</mat-label>
            <mat-select formControlName="days" multiple required>
              <mat-select-trigger>
                {{subForm.get('days')!.value?.[0] || ''}}
                <span *ngIf="(subForm.get('days')!.value?.length || 0) > 1" class="example-additional-selection">
                  (+{{(subForm.get('days')!.value?.length || 0) - 1}} {{subForm.get('days')!.value?.length === 2 ? 'autre' : 'autres'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let day of days" [value]="day">{{day}}</mat-option>
            </mat-select>
            <mat-error>Veuillez renseigner au moins un jour.</mat-error>
        </mat-form-field>

        <mat-form-field subscriptSizing="dynamic" class="w-full">
            <mat-label>Heure de départ</mat-label>
            <input matInput required formControlName="start_hour" type="time">
            <fa-icon [icon]="faClock" matSuffix class="pr-3"></fa-icon>
            <mat-error>Veuillez renseigner une heure de départ.</mat-error>
        </mat-form-field>

        <mat-form-field subscriptSizing="dynamic" class="w-full" *ngIf="subForm.get('is_carpooling')?.value === true">
          <mat-label>Nombre de passagers maximum</mat-label>
          <input matInput required formControlName="max_passengers" type="number" min="1" max="4">
          <mat-error>Veuillez renseigner un nombre de passager maximum.</mat-error>
        </mat-form-field>

        <button [disabled]="subForm.invalid" mat-raised-button class="ml-2 h-fit text-lg" type="submit" id="sub_id">Créer</button>


    </form>
</div>
