<nav id="nav-bar" class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">

        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <img class="h-14 w-auto" src="assets/navbar-icon.png" alt="Your Company">
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <div class="mx-6">

            <button mat-button *ngIf="IsDriver" routerLink="/publish"><fa-icon [icon]="faPlus" class="mr-2"></fa-icon>Publier un trajet</button>

          </div>

          <div class="relative">
          <!-- Profile dropdown -->
            <div>
              <button (click)="menuProfileSwitchVisibility()" type="button" class="relative flex rounded-full text-sm p-1" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                <fa-icon id="buttonProfile" [icon]="faUserSolid" class="fa-2x"></fa-icon>
              </button>
            </div>
  
            <!--
              Dropdown menu, show/hide based on menu state.
  
              Entering: "transition ease-out duration-100"
                From: "transform opacity-0 scale-95"
                To: "transform opacity-100 scale-100"
              Leaving: "transition ease-in duration-75"
                From: "transform opacity-100 scale-100"
                To: "transform opacity-0 scale-95"
            -->
            <div *ngIf="menuProfileVisibility" id="menuProfile" class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
              <!-- Active: "bg-gray-100", Not Active: "" -->

              <button routerLink="/mycovoit" class="w-full flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-1">
                <fa-icon [icon]="faCar" class="mr-2"></fa-icon> Mes covoiturages
              </button>

              <button routerLink="/messages" class="w-full flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-1">
                <fa-icon [icon]="faMessage" class="mr-2"></fa-icon> Mes messages
              </button>

              <button routerLink="/parameters" class="w-full flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-1">
                <fa-icon [icon]="faCog" class="mr-2"></fa-icon> Paramètres
              </button>

              <button *ngIf="IsAdmin()" routerLink="/admin" class="w-full flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-1">
                <fa-icon [icon]="faScrewdriverWrench" class="mr-2"></fa-icon> Administration
              </button>
            
              <button *ngIf="IsLogged()" (click)="logOut()" class=" w-full flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-2">
                <fa-icon [icon]="faSignOut" class="mr-2"></fa-icon> Se déconnecter
              </button>

              <button *ngIf="!IsLogged()" routerLink="/login" class=" w-full flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-2">
                <fa-icon [icon]="faUserRegular" class="mr-2"></fa-icon> Se connecter
              </button>
              
              <button *ngIf="!IsLogged()" routerLink="/register" class=" w-full flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-2">
                <fa-icon [icon]="faPencil" class="mr-2"></fa-icon> S'inscrire
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  