<mat-card class="mx-5">
  <mat-tab-group class="h-[calc(100vh-10vh)] custom-tab-group">
    <!-- TODO: implement some day
        <mat-tab label="Mes abonnements" >

                <mat-accordion multi="true" [displayMode]="'flat'">
                    <app-subscription *ngFor="let sub of subscriptions" [subscription]="sub"></app-subscription>
                </mat-accordion>

        </mat-tab>

        <mat-tab label="Mes abonnements publiés" *ngIf="IsDriver()">

                <mat-accordion multi="true" [displayMode]="'flat'">
                    <app-published-subscriptions *ngFor="let publishedSub of publishedSubscriptions" [publishedSubscription]="publishedSub"></app-published-subscriptions>
                </mat-accordion>

        </mat-tab>
        -->
    <mat-tab label="Mes trajets">
      <mat-card *ngFor="let carpooling of carpoolings" class="m-5 p-5">
        <app-my-carpoolings [carpooling]="carpooling"></app-my-carpoolings>
      </mat-card>
    </mat-tab>
    <mat-tab label="Mes trajets publiés" *ngIf="IsDriver()">
      <mat-card
        *ngFor="let publishedCarpooling of publishedCarpoolings"
        class="m-5 p-5"
      >
        <app-published-carpoolings
          [publishedCarpooling]="publishedCarpooling"
        ></app-published-carpoolings>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</mat-card>
