<mat-card class="mx-5">
    <mat-tab-group class="h-[calc(100vh-10vh)]">
        <mat-tab label="Mes abonnements" >
            <ng-template matTabContent>
                <mat-accordion multi="true" [displayMode]="'flat'">
                    <app-subscription *ngFor="let sub of subscriptions" [subscription]="sub"></app-subscription>
                </mat-accordion>
            </ng-template>
        </mat-tab>
        <mat-tab label="Mes réservations">
            <ng-template matTabContent>
                <mat-card *ngFor="let publishedCarpooling of publishedCarpoolings" class="m-5 p-5">
                    <app-published-carpoolings [publishedCarpooling]="publishedCarpooling"></app-published-carpoolings>
                </mat-card>
            </ng-template>
        </mat-tab>
        <mat-tab label="Third">
            <ng-template matTabContent>
                <!-- Mettez le contenu du troisième onglet ici -->
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</mat-card>