<mat-card>

  <mat-card-header>
    <mat-card-title>Trajet Régulier/Ponctuel</mat-card-title>
  </mat-card-header>

  <mat-card-content class="mt-5">
    TODO: Implemente rating system
    <br>
    Driver photo :
    <br>
    Driver name :
    <br>
    Nombre d'avis :
    <br>
    Note moyenne :
    <br>
  </mat-card-content>

  <mat-card-content class="text-sm italic text-gray-500 mt-5">
    En appuyant sur le bouton ci-dessous, vous vous engagez à être présent au lieu convenu à l'heure convenue pour votre covoiturage. 
    Votre ponctualité est essentielle pour garantir une expérience fluide et agréable pour tous les participants.
    Assurez-vous d'être prêt à l'heure et de respecter les règles établies. <br>
    Merci pour votre collaboration et bon voyage !
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button (click)="onClose()">Annuler </button>
    <button mat-button (click)="submit()">Confirmer</button>
  </mat-card-actions>
</mat-card>