.main {
  width: 100vw;
  height: 100vh;
  display: flex;


  h2 {
    font-size: 18px;
    margin-left: 15px;
  }
p{
  padding:2% 0 2% 0;
}

  #verif-document-text{
    margin-left: 50%;
    font-size: 18px;
    display: inline-block;
      text-align: right;
  }

  #fa-id-card-icon{
    margin-left: 10px;
    font-size: 30px;
  }

  .fa-id-arrow-icon{
    margin-left: 10px;
    font-size: 30px
  }
     .verif-document-left-menu {
        height: 100%;
        color: white;
        font-size: 14px;
        font-weight: 400;
        display: inline-block;
        width: 20%;
        padding-top: 20px;
        background-color: #343434
      }
      .administration-item {
        height: 10%;
        width: 90%;
        margin-left:5%;
        margin-right:5%;
        padding-top: 10px;
        background-color: #ccc;
        transition: background-color 0.5s, color 0.5s; 
        border-radius: 4px;
      }
      .administration-item:hover{
        background-color: #555;
      }
    }

  #document-image{
    max-width: 40%;
    max-height: 40%;
  }

.validated-refused {
  margin:20% 10% 0 10%;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  width: 30%;
  transition: background-color 0.5s, color 0.5s; 

}

#validate{
  border: 5px solid #4CAF50;
}

#refused{
  border: 5px solid #E74C3C;
}

#validate:hover{
  border: 5px solid #008000;
  color: #008000;
}

#refused:hover{
  border: 5px solid #960019;
  color: #960019;
}
.see-doc{
  padding-top: 5%;
  height: 90%;
  margin: auto;
  font-size: 26px;
  width: 800px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
  display:inline-block;

}


#document_image {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
