@import '../../../_variables';

form {
    max-width: $maxWidth-SearchBar;
    justify-content: space-between;
}

@media screen and (max-width: $maxWidth-SearchBar) {
  form {
    width: 100%; 
  }
}

button {
  height: auto !important;
}